
.login-form > label  {
    color: black;
    margin-bottom: .313em;
    // margin-top: .834em;
    font-size: 1em;
    display: block;
    font-family: arial;
    box-sizing: content-box;
    font-weight: 500;
    line-height: 1;
}

.login-form-container { 
    display: flex;
    justify-content: center;
  
}

.login-form-box { 
    padding: 50px;
    background: white;
    position: relative;
    width: 325px;
    height: fit-content;
    border: 2px solid black;
    border-radius: 6px;
    overflow: auto;
}

.login-form { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px
}

// .login-input { 
//     margin-left: 20px;
// }

.session-submit {
    text-transform: capitalize;
}

.modal-header {
    font-size: 23px;
    font-weight: bold;
    border-bottom: 0.5px solid lightgrey;
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: auto;
}

.modal-child {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-x {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    line-height: 1;

}

label > input {
    width: 23.177em;
    max-width: 100%;
    font-size: 1.2em;
    border: 1px solid #e0e0e0;
    padding: .365em;
    border-radius: 5px;
    margin-bottom: .521em;
    display: block;
    box-sizing: content-box;
    vertical-align: middle;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    cursor: text;

}

input[type="submit" i] {
    width: 40%;
    height: 35px;
    background-color: #d41b1b;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid darkred;
    border-radius: 6px;
    margin-top: 1px;
}

input[type="submit" i]:hover {
    background-color: rgb(253, 63, 63)
}

.modal-footer {
    display: flex;
    // flex-direction: horizontal;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: arial;
}


.modal-footer > li {
    float: right;
}

.demoButton {
    margin-top: 15px

}

 .registration-link > a{
     color: red;
     cursor: pointer;
     margin-left: 2px;
 }
 .registration-link:last-child {
     text-decoration: underline;
 }

 .registration-link:first-of-type {
    margin-bottom: 9px;

 }

 .registration-link >a:hover {
     text-decoration: underline;
     font-weight: bold;
 }

 .login-form {
     ul {
     text-align: right;
     font-size: small;
     }
 }

 .errors {
    color: red;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: arial;
    font-size: small;
    margin-top: 10px;

 }