.post-index-item {
    max-width: 700px;
    margin: auto;
    border: 1px solid lightgrey;
    margin-bottom: 30px;
}

.index-item-title {
    font-size: 35px;
    font-family: arial;
    padding-left: 30px;
    padding-top: 10px;
}

.index-item-title:hover {
    color: rgb(192, 37, 37);
    cursor: pointer;

}

.index-item-body {
    color: gray;
    font-family: arial;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

img {
    height: 600px;
    max-height: 100%;
    width: 700px;
    max-width: 700px;
    margin: auto;
    align-items: center;
}

.post-details {
    max-width: 700px;
    border: 1px solid lightgray;
    margin: auto;
    margin-bottom: 40px;
    background: white;
}


.index-item-info:hover{
    cursor: pointer;

}

// .post-title {
//     background: 0 0;
//     font-family: Merriweather,serif;
//     font-weight: 700;
//     font-size: 2.3em;
//     line-height: 1.2;
//     padding: 12px .781em .125em .781em;
//     word-wrap: break-word;
//     overflow-wrap: break-word;
//     margin: auto;
//     text-align: left;
//     font-weight: bold;
// }

li.post-author {
    padding-left: 30px;
    color: #d74b1f;
    line-height: 30px;
    font-weight: 500;
}

li.post-body {
    margin-left: 30px;
    // position: relative;
    line-height: 1.5;
    word-break: break-word;
    overflow-wrap: break-word;
    padding: 0 0 12px 0;
    color: rgba(0,0,0,.8);
    font-weight: 400;
    font-size: 20px;
}

a.delete-link {
    display: block;
    border: 2px solid #c73a3a;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    text-transform: none;
    font-weight: 500;
    color: white;
    line-height: 20px;
    width: 80px;
    background-color: #da3535;
    cursor: pointer;
}
a.delete-link:hover {
    font-weight: bold;
    background-color: #f12121

}

a.edit-link {
    display: block;
    border: 2px solid #c73a3a;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    text-transform: none;
    font-weight: 500;
    color: white;
    line-height: 20px;
    width: 80px;
    background-color: #da3535;
    cursor: pointer;
}

a.edit-link:hover {
    font-weight: bold;
    background-color: #f12121
}

button {
    border: none;
    background-color: white;
    width: fit-content;
}

// .post-edit-links {
//     padding-bottom: 15px;
//     padding-top: 15px;

// }

.post-creator {
    background-color: #fafafa;
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-bottom: 20px;
}

.post-creator-container {
    width: 500px;
    margin: auto;
}

input.post-title-input {
    width: 100%;
    // position: relative;
    height: 50px;
    font-size: x-large;
    font-family: arial;
    margin-top: 30px;
    padding-left: 15px;
}

textarea.post-body-input {
    margin-top: 15px;
    width: 502px;
    height: 85px;
    padding-left: 15px;
    font-size: large;
    color: rgb(90, 88, 88);
    padding-top: 15px;
}

.button-holder {
    background-color: #fff;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    border-top-left-radius: 0;
    width: 100%;
    margin-top: 15px;
}

h3.button-holder {
    width: 460px;
    border: 1px solid lightgrey;
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 600px;
  }

  button.post-button {
    display: block;
    border: 2px solid #c73a3a;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    text-transform: none;
    font-weight: 500;
    color: white;
    line-height: 17px;
    width: 130px;
    background-color: rgb(218, 53, 53);
    cursor: pointer;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  button.post-button:hover {
    font-weight: bold;
    background-color: #f12121

}

  input.new-post-button {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

form.post-form {
    max-width: 1000px;
    margin: auto;
}

.picture-shown {
    border: 1px solid lightgrey;
    // margin-bottom: 20px;
}

.go-back {
    margin-bottom: 10px;
    margin-left: 10px;
}
.go-back:hover {
    color: red;
    cursor: pointer;
}

li.error {
    color: red;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: arial;
    font-size: large;
    // margin-top: 10px;
}

a.go-back {
    font-size: large;
}

.go-back-link {
    padding-bottom: 15px;
    font-size: medium;
}

.index-item-author {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 30px;
}

.index-item-info{
    border: 1px solid lightgrey
}

footer#footer {
    font-size: 20px;
    padding: 10px
}

.post-container {
    display: flex;
}

i.fas.fa-comment-alt {
    font-size: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

i.fas.fa-comment-alt:hover, i.fas.fa-comments:hover {
    cursor: pointer;
    color: gray;
}

.post-edit-container{
    display: flex;
    justify-content: space-between;
}

a.delete-icon, a.edit-icon {
    font-size: 20px;
}

a.delete-icon:hover {
    color: red;
}

a.edit-icon:hover {
    color: blue;
}

i.fas.fa-trash {
    font-size: 20px;
    padding: 15px;
}

i.fas.fa-trash:hover {
    cursor: pointer;
}

.single-post-show {
    background-color: #fafafa;
    border: 1px solid lightgray;
}

// .index-item-icons {
//     padding-top: 10px;
// }

i.fas.fa-comments {
    // padding-right: 15px;
    padding-bottom: 5px;
}

i#reviewLength, i#reviewLength:hover, i.fas.fa-comments:hover {
    font-size: medium;
    cursor: auto;
    color: black;
}
i#reviewLength {
    padding-right: 30px;

}

.show-item-title, .post-title {
    font-size: 35px;
    font-family: arial;
    padding-left: 30px;
    padding-top: 10px;
}

.show-item-body {
    color: gray;
    font-family: arial;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.show-item-author {
    // margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 30px;
    position: absolute;
    z-index: 1;
}

.post-title {
    padding-bottom: 10px;
}

.index-info{
    display: flex;
    justify-content: space-between;
}

i.fas.fa-heart {
    padding-right: 20px;
}