.post-index-item {
    max-width: 700px;
    margin: auto;
    border: 1px solid lightgrey;
    margin-bottom: 17px;
}

.index-item-title {
    font-size: 35px;
    font-family: arial;
}

.index-item-title:hover {
    color: rgb(192, 37, 37);
    cursor: pointer;

}

.index-item-body {
    color: gray;
    font-family: arial;
}

img {
    height: 600px;
    max-height: 100%;
    width: 700px;
    max-width: 700px;
    margin: auto;
    align-items: center;
    border: 1px solid lightgray
}

.post-details {
    max-width: 700px;
    border: 1px solid lightgray;
    margin: auto;
}