.subpost-form {
    max-width: 700px;
    border: 1px solid lightgray;
    margin: auto;
    margin-bottom: 20px;
    background: white;
}

.subpost-title-input {
    background: 0 0;
    font-family: Merriweather,serif;
    font-weight: 700;
    font-size: 2.3em;
    line-height: 1.2;
    padding: 12px .781em .125em .781em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: auto;
    text-align: left;
    font-weight: bold;
    width: 91%
}

.sub-button-holder {
    background-color: #fff;
    padding: 10px;
    margin-top: 15px;
    font-weight: bold;
}

.sub-post-signin {
    width: 40%;
    height: 35px;
    background-color: #d41b1b;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid darkred;
    border-radius: 6px;
    margin-top: 1px;
}

.sub-post-signin:hover {
    background-color: #f12121
}


.subpost-header {
    line-height: 1.5;
    padding: 0 0 20px 0;
    // color: rgba(0, 0, 0, 0.8);
    // font-weight: bold;
    // font-size: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 1.875em;
    color: #000;
    font-family: arial;

}

button.delete-link {
    display: block;
    border: 2px solid #c73a3a;
    text-align: center;
    border-radius: 5px;
    text-transform: none;
    font-weight: 500;
    color: white;
    line-height: 20px;
    width: 80px;
    background-color: #da3535;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 25px;
    margin-top: 10px;
}

button.delete-link:hover {
    font-weight: bold;
    background-color: #f12121

}

.subpost-author {
    padding: 10px;
    margin-top: 5px;
}

.subpost-display {
    display: flex;
    justify-content: space-between;
}

i.fas.fa-trash:hover {
    color: red;
}

i#subpost {
    padding: 15px;
    font-size: 20px;
    padding-right: 0px;
}

i#subpost:hover {
    color: rgb(236, 78, 105);
    cursor: pointer;
}

i#does-like {
    color: rgb(236, 78, 105);
    padding: 15px;
    font-size: 20px;
    padding-right: 0px;
}

i#does-like:hover {
    color:black
}

.subpost-likes {
    display: flex;
}